body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* Gradient, Text and Picture */

.ImageWithText {
  position: relative;
  background: linear-gradient(-45deg, rgba(146, 156, 63, 1), #d3d3d3, #c9d302);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  animation: gradient-bg 20s ease infinite;

  animation: gradient-bg 20s ease infinite;
  background-size: 300% 300%; /* Hinzugefügt: Hintergrundgröße festlegen */
  background-repeat: no-repeat; /* Hinzugefügt: Hintergrundwiederholung deaktivieren */
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ImageWithText h2 {
  font-size: 1.5vw;
  text-align: center;
  color: white;
  line-height: 1.8;
  letter-spacing: 0.3vw;
  margin-left: 3vw;
  max-width: 80vw;
}

.bigImage {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bigImage img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.textOverImage {
  text-align: left;
}

@media (max-width: 768px) {
  .ImageWithText {
    font-size: 22px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .bigImage {
    justify-content: center;
  }

  .bigImage img {
    max-width: 90vw;
    max-height: 90vh;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .textOverImage {
    margin-left: 0;
  }
}

/* Section Overview  */
.overview {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px;
  text-align: left; /* Text linksbündig ausrichten */
  max-width: 1200px;
  margin-bottom: 10vh;
}

.overview-heading {
  color: #c9d302;
  text-align: left; /* Zentriert die Überschrift */
  margin-top: 40px;
  margin-bottom: 40px; /* Fügt einen Abstand unterhalb der Überschrift hinzu */
}

.overview h1 {
  font-size: 34px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px;
}

.overview p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* target Group */
.target-group {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px;
  text-align: left; /* Text linksbündig ausrichten */
  max-width: 1200px;
}

.target-group-heading {
  color: #c9d302;
  text-align: left;
  margin-bottom: 40px;
}

.target-group h1 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px; /* Letter Spacing */
}

.target-group p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Slider */
/* Slideshow container */
.slideshow-container1 {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3); /* Hintergrundfarbe der Buttons */
  opacity: 0; /* Standardmäßig unsichtbar */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container1:hover .prev,
.slideshow-container1:hover .next {
  opacity: 1; /* Sichtbar bei Hover */
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit of transparency */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.Ctext {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: -5px; /* Ändere den Wert nach Bedarf */
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/* Sketches Text*/

.ideation {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px;
  text-align: left; /* Text linksbündig ausrichten */
  max-width: 1200px;
  margin-bottom: 10vh;
}

.ideation-heading {
  color: #c9d302;
  text-align: left; /* Zentriert die Überschrift */
  margin-top: 40px;
  margin-bottom: 40px; /* Fügt einen Abstand unterhalb der Überschrift hinzu */
}

.ideation h1 {
  font-size: 34px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px;
}

.ideation p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Sketches Slider */

.slideshow-container2 {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Next & previous buttons */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3); /* Hintergrundfarbe der Buttons */
  opacity: 0; /* Standardmäßig unsichtbar */
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container2:hover .prev2,
.slideshow-container2:hover .next2 {
  opacity: 1; /* Sichtbar bei Hover */
}

/* Position the "prev button" to the left */
.prev2 {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit of transparency */
.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.Ctext2 {
  color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: -5px; /* Ändere den Wert nach Bedarf */
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #000000;
  font-size: 12px;
  padding: 20px 20px;
  position: absolute;
  top: 0;
}

/* Wireframe */
.wireframe {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px;
  text-align: left; /* Text linksbündig ausrichten */
  max-width: 1200px;
  margin-bottom: 10vh;
}

.wireframe-heading {
  color: #c9d302;
  text-align: left; /* Zentriert die Überschrift */
  margin-top: 40px;
  margin-bottom: 40px; /* Fügt einen Abstand unterhalb der Überschrift hinzu */
}

.wireframe h1 {
  font-size: 34px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px;
}

.wireframe p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Bilder zentrieren */
}

.image-wrapper {
  margin-bottom: 50px; /* Abstand zwischen den Bildern anpassen */
  text-align: center;
}

.image-wrapper img {
  width: 100%; /* Breite auf 100% festlegen */
  height: auto;
  object-fit: contain; /* Das Bild beibehalten, um Verzerrungen zu vermeiden */
  max-height: 800px; /* Maximale Höhe des Bildes anpassen */
}

.image-caption {
  color: #000000;
  text-align: center;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.image-wrapper h4 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.image-wrapper {
  border-bottom: 2px solid #c9d302;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.image-wrapper:last-child {
  border-bottom: none;
}

/* Prototype */

.prototype {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px;
  text-align: left; /* Text linksbündig ausrichten */
  max-width: 1200px;
  margin-bottom: 10vh;
}

.prototype-heading {
  color: #c9d302;
  text-align: left; /* Zentriert die Überschrift */
  margin-top: 40px;
  margin-bottom: 40px; /* Fügt einen Abstand unterhalb der Überschrift hinzu */
}

.prototype h1 {
  font-size: 34px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px;
}

.prototype p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

/* HIER FEHLT NOCH WAS */

/* Reflection */

.reflection {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px;
  text-align: left; /* Text linksbündig ausrichten */
  max-width: 1200px;
  margin-bottom: 15vh;
}

.reflection-heading {
  color: #c9d302;
  text-align: left; /* Zentriert die Überschrift */
  margin-top: 40px;
  margin-bottom: 40px; /* Fügt einen Abstand unterhalb der Überschrift hinzu */
}

.reflection h1 {
  font-size: 34px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 1px;
}

.reflection p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Footer */

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}
